<link href="{{ root_url }}/stylesheets/d3/axis.css" rel="stylesheet" type="text/css">
<script src="http://d3js.org/d3.v2.js"></script>

<script>
(function() {
    var data = [
        d3.range(40).map(function(i) {
            return {x: i / 39, y: (Math.sin(i / 3) + 2) / 4};
        }),
        d3.range(41).map(function(i) {
            return {x: 5 * Math.cos((i % 40) * Math.PI * 2 / 40), y: 5 * Math.sin((i % 40) * Math.PI * 2 / 40)};
        }),
        d3.range(50).map(function(i) {
            return {x: (i - 25) / 5, y: (Math.pow(Math.E, -Math.pow(((i - 25) / 5), 2) / 2)) / (1 * Math.sqrt(2 * Math.PI))};
        })
    ];
    var data2 = [
        d3.range(40).map(function(i) {
                return {x: i / 39, y: (Math.sin(i / 3) + 2) / 4};
            }),
        d3.range(40).map(function(i) {
                return {x: i / 39, y: (Math.cos(i / 3) + 2) / 4};
            })
    ];
    
    var margin = {top: 10, right: 15, bottom: 25, left: 40},
        width = 400 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    var x = [
            [0, 1], [-5, 5], [-5, 5]
        ],
        x2 = [0, 1];
    var y = [
            [0, 1], [-5, 5], [0, 0.7]
        ],
        y2 = [0, 1];
    var line = d3.svg.line()
        .interpolate("basis")
        .x(function(d) { return ex(d.x); })
        .y(function(d) { return ey(d.y); });

    
    $("body").ready(function() {
        d3.selectAll(".d3").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .append("path")
            .attr("class", "line1")
            .data(data)
            .map(function(data_i, idx) {
                var dx = d3.scale.linear()
                        .domain(x[idx])
                        .range([0, width]);
                var dy = d3.scale.linear()
                        .domain(y[idx])
                        .range([height, 0]);
                var line = d3.svg.line()
                    .interpolate("basis")
                    .x(function(d) { return dx(d.x); })
                    .y(function(d) { return dy(d.y); });
                d3.select(this)
                    .datum(data_i)
                    .attr("d", line);
                var _ppnode = d3.select(d3.select(this)[0][0].parentNode);

                _ppnode.selectAll(".dot")
                    .data(data_i)
                    .enter().append("circle")
                    .attr("class", "dot1")
                    .attr("cx", line.x())
                    .attr("cy", line.y())
                    .attr("r", 3.5);

                var xAxis = d3.svg.axis()
                    .scale(d3.scale.linear()
                            .domain(x[idx])
                            .range([0, width]))
                    .orient("bottom");
                
                var yAxis = d3.svg.axis()
                        .scale(d3.scale.linear()
                                .domain(y[idx])
                                .range([height, 0]))
                        .orient("left");
                //console.log(this);
                //console.log(arguments);

                _ppnode.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);
                _ppnode.append("g")
                        .attr("class", "y axis")
                        .call(yAxis);
            });
        var $svgs = d3.selectAll("#multilines").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        data2.map(function(data_i, idx) {
            var dx = d3.scale.linear()
                    .domain(x2)
                    .range([0, width]);
            var dy = d3.scale.linear()
                    .domain(y2)
                    .range([height, 0]);
            var line = d3.svg.line()
                .interpolate("basis")
                .x(function(d) { return dx(d.x); })
                .y(function(d) { return dy(d.y); });
            var tmp = $svgs.append("g").append("path")
                .attr("class", ("line" + (idx + 1)))
                .datum(data_i)
                .attr("d", line);
            //console.log(tmp[0][0].parentNode);

            d3.select(tmp[0][0].parentNode).selectAll(".dot")
                .data(data_i)
                .enter().append("circle")
                .attr("class", ("dot" + (idx + 1)))
                .attr("cx", line.x())
                .attr("cy", line.y())
                .attr("r", 3.5);
            //console.log(this);
            //console.log(arguments);
        });
        var xAxis2 = d3.svg.axis()
            .scale(d3.scale.linear()
                    .domain(x2)
                    .range([0, width]))
            .orient("bottom");
        
        var yAxis2 = d3.svg.axis()
                .scale(d3.scale.linear()
                        .domain(y2)
                        .range([height, 0]))
                .orient("left");

        $svgs.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis2);
        $svgs.append("g")
            .attr("class", "y axis")
            .call(yAxis2);
        
    });
})();
</script>

